@using Emarket.Core.Application.ViewModels.Announcements;
@model AnnouncementeDetails
@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-primary text-light">
                    <h4>Detalles del anuncio</h4>
                </div>
                <div class="card-body">

               <div>
                    <hr />
                    <dl class="row">
                        <img src="@Model.ImageUrl"/>
                        <dt class = "col-sm-6">
                            Nombre:
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class = "col-sm-6">
                            Precio: 
                        </dt>
                        <dd class = "col-sm-10">
                            $@Html.DisplayFor(model => model.Price)
                        </dd>
                         <dt class = "col-sm-6">
                            Descripción:
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                         <dt class = "col-sm-6">
                            Categoría: 
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.CategoryName)
                        </dd>
                          <dt class = "col-sm-6">
                            Fecha en que se publicó el anuncio: 
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.AnnouncementCreateDate)
                        </dd>
                          <dt class = "col-sm-6">
                            Nombre del anunciante: 
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.AnnouncementName)
                        </dd>
                          <dt class = "col-sm-6">
                             Correo del anunciante: 
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.AnnouncementEmail)
                        </dd>
                          <dt class = "col-sm-6">
                            Teléfono del anunciante: 
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.AnnouncementPhone)
                        </dd>
                    </dl>
                </div>

                </div>
                <a asp-controller="Home" asp-action="Index"  class="btn btn-warning">Volver atras</a>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

